@import "@/styles/main";
.Cart {
  width: 100%;
  display: flex;
}
.CTable {
  width: calc(100% * (9 / 12));
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
  }
  td,
  th {
    width: calc(100% * (1 / 5));
    vertical-align: middle;
    text-align: center;
    height: 70px;
    position: relative;
  }
  th {
    background-color: #eee;
    font-weight: bold;
  }
  tr:nth-child(2) {
    background-color: #f9f9f9;
  }
}
.CSummary {
  width: calc(100% * (3 / 12));
  margin-left: 2rem;
}
