@import "@/styles/main";

.Header {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 3px 6px 0px rgba(111, 111, 111, 0.15);
}
